.user-img-area img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}

.Notification-dropdown {
    position: relative;
    display: inline-block;
}

.Notification-dropdown:hover .Notification-dropdown-content {
    display: block;
}

.font-awesome-size i {
    font-size: 20px;
}

.font-awesome-size i:hover {
    color: #ee344e;
}

.Notification-dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    z-index: 1;
    right: -47px;
    top: 56px;
    padding: 10px 0px 10px 0px;
    background-color: #fff;
    box-shadow: 11px 25px 30px -7px rgb(86 81 81 / 29%);
    border-radius: 5px;
}

.Notification-dropdown-content {
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #fff;
    -webkit-box-shadow: 3px 23px 29px -7px rgb(0 0 0 / 75%);
    -moz-box-shadow: 3px 23px 29px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 23px 29px -7px rgb(86 81 81);
    border-radius: 5px;
}

.Notification-dropdown-content .dropdown-item {
    padding: 5px 0px 5px 20px;
    font-weight: 600;
    color: #393939e0;
}

.Notification-dropdown-content .dropdown-item i {
    font-size: 20px;
    margin: 0px 10px 0px 0px;
}

.Notification-dropdown-content .dropdown-item:hover {
    background: transparent;
    color: #ee344e;
}

.Notification-dropdown-content.Notification-dropdown-massege-box-area {
    width: 300px;
}

.Notification-dropdown-content.Notification-dropdown-massege-box-area:before {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: -11px;
    right: 50px;
    transform: rotate(45deg);
    z-index: -1;
}

.notification-clear-all-btn {
    color: #ffffff;
    border: 2px solid #188dc7;
    padding: 2px 7px;
    background: #188dc7;
    transition: .5s;
    border-radius: 20px;
    font-size: 10px;
    text-transform: uppercase;
}

.notification-clear-all-btn:hover {
    color: black;
    border: 2px solid #188dc7;
    background: #8fc1e2;
}

.notification-date {
    font-size: 12px;
    font-weight: 800;
    color: #000000;
}

.main-notification-text {
    line-height: 12px;
    font-size: 12px;
    font-weight: 700;
    color: #666666;
}

.notification-view-all-notification-btn {
    color: #ffffff;
    border: 2px solid #188dc7;
    padding: 4px 20px;
    background: #188dc7;
    transition: .5s;
    border-radius: 20px;
    font-size: 16px;
    width: 100%;
}

.notification-view-all-notification-btn:hover {
    color: black;
    border: 2px solid #188dc7;
    background: #8fc1e2;
}

h6 {
    font-family: 'Mulish', sans-serif;
    line-height: 1.2;
    color: #188dc7;
}

.notification-badge span.MuiBadge-badge {
    height: 17px;
    font-size: 12px;
}